<template>
  <div style="border: 1px solid blue;margin:5px">
    <p>Pushbutton 1</p>
    <div if.bind="pressed" click.trigger="toggle()">
      On!
    </div>
    <div if.bind="!pressed" click.trigger="toggle()">
      Off!
    </div>
  </div>
  <div style="border: 1px solid blue;margin:5px">
    <p>Pushbutton 2</p>
    <div if.bind="pressed" click.trigger="toggle()">
      <img src="/on_button.png" style="width: 100px">
    </div>
    <div if.bind="!pressed" click.trigger="toggle()">
      <img src="/off_button.png" style="width: 100px">
    </div>
  </div>
  <div style="border: 1px solid blue;margin:5px">
    <p>Pushbutton 3</p>
    <div if.bind="pressed" click.trigger="toggle()">
      <svg width="100px" height="100px">
        <rect class="frame" width="100px" height="100px"></rect>
        <rect class="inner" x="5px" y="5px" width="90px" height="90px"></rect>
        <rect x="10px" y="10px" width="80px" height="80px" fill="#e5fc1b" rx="10px" ry="10px"></rect>
      </svg>
    </div>
    <div if.bind="!pressed" click.trigger="toggle()">
      <svg width="100px" height="100px">
        <rect class="frame" width="100px" height="100px"></rect>
        <rect class="inner" x="5px" y="5px" width="90px" height="90px"></rect>
        <rect x="10px" y="10px" width="80px" height="80px" fill="#41454c" rx="10px" ry="10px"></rect>
      </svg>
    </div>
  </div>
</template>
