<template>
  <require from="components/pushbutton2"></require>
  <require from="components/doublegauge"></require>
  <require from="components/tristatebutton"></require>
  <require from="components/lineargauge"></require>
  <require from="components/slideswitch"></require>
  <div class="container">
    <h1 class="h1">Klima-Demo</h1>
    <div class="row">
      <div class="col">
        <double-gauge cfg.bind="conf.aussentemp_cfg">
        </double-gauge>
      </div>
      
      <div class="col">
        <double-gauge cfg.bind="conf.wohnzimmertemp_cfg">
        </double-gauge>
      </div>
      <div class="col">
        <push-button2 cfg.bind="conf.pushbutton_cfg" pressed="pb_on">
        </push-button2>
      </div>
      <div class="col">
        <tristate-button cfg.bind="conf.fernsehlicht_cfg" pressed="pb_on">
        </tristate-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <lineargauge cfg.bind="conf.powermeter_cfg"></lineargauge>
      </div>
      <div class="col">
        <slide-switch cfg.bind="conf.carswitch_cfg"></slide-switch>
      </div>

    </div>
  </div>
</template>
