$bordercolor: #a79ea3;
$fillcolor: #d3d3d3;
$captioncolor: #1c63ef;
$strokecolor: blue;

h2 {
  color: #0000ff;
}

.inner {
  fill: $fillcolor;
  stroke: $strokecolor;
  stroke-width: 0.6;
}

.frame {
  border: 5px solid $bordercolor;
  border-radius: 5px;
  fill: #d6ff88;
  background-color: lighten($fillcolor, 20%);
  opacity: 0.8;
  stroke: black;
  stroke-width: 1;
  padding: 5px;
}

h1 {
  color: blue;
}

svg {
  .pointer {
    stroke: #ff0000;
    fill: #ff1100;
    opacity: 0.8;
  }
  .light_on {
    fill: #e5fc1b;
    stroke: #a79ea3;
    stroke-width: 0.8;
  }
  .light_off {
    fill: #41454c;
  }
  .mode_auto {
    fill: #f714205d;
    stroke: #a79ea3;
    stroke-width: 0.8;
  }
  .mode_manual {
    fill: #d3d3d3;
    stroke: #a79ea3;
    stroke-width: 0.8;
    opacity: 0.2;
  }
  .slider_center {
    fill: $strokecolor;
    opacity: 0.5;
  }
  .slider_frame_on {
    stroke: yellow;
    stroke-width: 4;
    fill-opacity: 0;
  }
  .slider_frame_off {
    stroke: darkgray;
    stroke-width: 3;
    fill-opacity: 0;
  }
}
